<pre>   <a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">___</a> добро пожаловать на мой 
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white"> .^o ~\</a> open-source веб-сайт!
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">Y /'~) }</a> <time style="color: var(--maincolor)" id="time">ты выключил js</time>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">l/  / /</a> <ip id="ip">и времени тут нет</ip>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">   ( (</a> <wb id="wb">и нет тут твоего ip</wb>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">    \ \</a> <os id="os">и user'а agent'а нет</os></pre>
<script src="{{ .Site.BaseURL }}js/clock.js"></script>
<script src="{{ .Site.BaseURL }}js/agent.js"></script>






